body {
  background:black;
  color: white;
}

.title {
  text-align: center;
}

.lista {
  text-align: center;
  justify-content: center;
}

.elements {
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin: 20px;
  background: rgb(75, 84, 0);
}
