* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  margin:auto;
}

.button{
  margin-left: 15px;
  display: flex;
}
form{
  width: 1200px;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.field {
  
  display: flex;
  flex-direction: column;
  width: 700px;
  
}
input [type="text"] {
  width: 500px;
}