*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size: 100%;
}

.container-2,header {
  width: 90%;
  display: flex;
  border-radius: 25px;
  margin: 10px;
}

nav {
  list-style: none;
}

.itens-header {
  text-decoration: none;
  cursor: pointer;

}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

header {
  background-color: rgb(237,237,237);
  justify-content: space-between;
  align-items: center;


}

div img {
  width: 150px;
  display: flex;
  opacity: 1;
  margin-left: 20px;
}

header nav {
  display: flex;
}

header li .itens-header {
  color: black;
  padding: 0px 20px;
  font-size: 30px;
  text-transform: uppercase;
  margin-right: 25px;
}

.container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-image: url(https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif);
  min-height: 80vh;
  align-items: flex-start;
}

.container-2 h1 {
  font-size: 80px;
  padding: 0;
  margin: 0px 40px;
  color: rgb(217,254,255);
  font-family: 'Bebas Neue', cursive;  
}

.container-2 h3 {
  display: flex;
  font-size: 40px;
  margin: 0px 40px;
  font-family: 'Bebas Neue', cursive;
}
.container-2 .btn {
  background-color: rgb(237,46,61);
  border-radius: 15px;
  color: black;
  padding: 10px 25px;
  font-size: 30px;
  margin: 40px 40px;
  opacity: 1;
}

.container-3 {
  color:rgb(217,254,255);
  width: 90%;  
  border-radius: 25px;
  margin: 10px;
}

.container-3 .tittle-container-3 {
  text-align: center;
  font-size: 50px;
  margin: 25px 0px;
}

.container-3 .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-3 .grid img {
  max-width: 100%;
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.container-3 .grid .element div {
  flex: 1 1 200px;
}
.container-3 .grid .element {
  text-align: center;
  font-size: 25px;
}
